h1 {
    color: rgb(79, 49, 8);
    opacity: .8;
    text-transform: uppercase;
    font-weight: 100;
}

body {
    background-color: rgb(225, 224, 221);
    font-family: Arial, Helvetica, sans-serif;
} 